.App {
    text-align: center;
    font-size: 35px;
}

.App-title {
    font-size: 45px;
}

.Clock-days, .Clock-hours, .Clock-minutes, .Clock-seconds {
    display: inline;
    margin: 10px;
}

.Deadline-input {
    font-size: 25px;
    margin: 5px;
}

.Timer {
    margin: 10px;
}

.Submit {
    background: black;
    color: white;
    border: solid black;
    
}